.board{
    display:inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 10px;
    padding-top: 10px;
    .Column {
        flex: 0 0 auto;
        width: 300px;
        height: calc(100% - 10px);
        margin-left: 10px;
        > * {
            background-color: rgba(252, 247, 247, 0.903);
            color: black;
            padding: 0 8px;
        }
        header.column-drag-handle{
            padding-left: 15px;
            height: 36px;
            line-height: 36px;
            font-size: 16px;
            font-weight: bold;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            cursor:pointer;
        }
        footer{
            padding-left: 10px;
            height: 36px;
            line-height: 36px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .card{
            list-style-type:none;
            margin:0;
            max-height: calc(100% - 36px - 36px);
            overflow-y: auto;
            &::-webkit-scrollbar{
                -webkit-appearance: none;
            }
            &::-webkit-scrollbar::vertical{
                width: 11px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: darken(grey,5px);
            }
            .card-li{
                background-color: white;
                padding: 10px;
                margin:3px;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 0 1px 1px grey;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }
        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg)
          }
          
        .card-ghost-drop{
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg)
        }
        .drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }
        .cards-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px 45px 5px 5px;
        }
    }
    .add-column{
        width: 250px;
        height: 32px;
        line-height: 32px;
        padding: 4px 0 4px 15px;
        cursor: pointer;
        color: white;
        margin-left: 10px;
        font-size: 15px;
        background-color: rgb(116, 116, 116);
        border-radius: 5px;
        &:hover{
            color: black;
        }
    }
    .input-column{
        width: 250px;
        max-width: 250px;
        height: 65px;
        background-color: rgb(228, 226, 227);
        line-height: 20px;
        margin-left: 10px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-right: 10px;
        .input{
            width: 250px;
            height: 30px;
        }
        .button-add{
            margin-top: 5px;
            width: 150px;
            
        }
        .cancel-create-column{
            margin-left: 30px;
            cursor: pointer;
            font-size: 20px;
            color: red;
            &:hover{
                color:black;
            }
        }
    }
    
}
